{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" 
   />
   
   <style type="text/css">
		div{
			background: transparent;
			text-align: center;
			border: none;
      padding-left: 25px;
      padding-right: 25px;
			color: #fff;
		}
		.konten{
			height: 300px;
		}
		.sidebar{
			height: 300px;
		}
	</style>

    <title>Alif Akbar | Fazzstack-mobile-1-3</title>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <div class="col-lg-9 col-lg-12 col-xl-12 col-md-9 konten">
        <h1 class="display-4"> Alif Akbar </h1>
        <p class="lead text-white">Tugas 10 Fazztrack</p>
        <a class="btn btn-primary btn-lg" href="/sosmed" role="button">CRUD</a>
        </p>
        </div>
      </div>
</div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>
</html>